:root {
  color-scheme: light;

  --bg-primary: oklch(27% 0.1 270); /* #0D184B */
  --bg-secondary: oklch(98% 0.005 286); /* #f5f5f9 */
  --bg-third: oklch(97% 0.015 61.35); /* #FCF2EA */

  --color-primary-oklch: 24% 0.095 268;
  --color-white-oklch: 100% 0 0;
  --color-accent-oklch: 41% 0.241 265;
  --color-active-oklch: 74% 0.18 57;

  --color-primary: oklch(var(--color-primary-oklch)); /* #0D184B */
  --color-primary-70: oklch(var(--color-primary-oklch) / 70%); /* #0D184BB2 */
  --color-primary-50: oklch(var(--color-primary-oklch) / 50%); /* #0D184B80 */

  --color-white: oklch(var(--color-white-oklch));
  --color-white-80: oklch(var(--color-white-oklch) / 80%);

  --color-accent: oklch(var(--color-accent-oklch)); /* #0828C9 */
  --color-accent-8: oklch(var(--color-accent-oklch) / 8%); /* #0828C9 */

  --color-active: oklch(var(--color-active-oklch));

  /* Font size */
  --font-size-main: 16px;
  --font-size-hero: calc(3.125 * var(--font-size-main)); /* 50px */
  --font-size-xxl: calc(2.75 * var(--font-size-main)); /* 44px */
  --font-size-xl: calc(2 * var(--font-size-main)); /* 32px */
  --font-size-l: calc(1.5 * var(--font-size-main)); /* 24px */
  --font-size-m: calc(1.125 * var(--font-size-main)); /* 18px */
  --font-size-s: calc(1 * var(--font-size-main)); /* 16px */
  --font-size-xs: calc(0.875 * var(--font-size-main)); /* 14px */
  --font-size-xxs: calc(0.75 * var(--font-size-main)); /* 12px */

  --font-size-default: var(--font-size-s);

  --ui-size-icon: 24px;

  --ui-border-radius: 2px;

  --ui-wrapper-width: 86vw;

  --space--unit: 0.25rem;

  --space-super--5xl: calc(35 * var(--space--unit)); /* 140px */
  --space-super--4xl: calc(30 * var(--space--unit)); /* 120px */
  --space-super--xxxl: calc(25 * var(--space--unit)); /* 100px */
  --space--xxxl: calc(20 * var(--space--unit)); /* 80px */
  --space--xxl: calc(18 * var(--space--unit)); /* 72px */
  --space--xl: calc(16 * var(--space--unit)); /* 64px */
  --space--l: calc(14 * var(--space--unit)); /* 56px */
  --space--m: calc(10 * var(--space--unit)); /* 40px */
  --space--smm: calc(8 * var(--space--unit)); /* 32px */
  --space--sm: calc(6 * var(--space--unit)); /* 24px */
  --space--s: calc(4 * var(--space--unit)); /* 16px */
  --space--xs: calc(3 * var(--space--unit)); /* 12px */
  --space--xxs: calc(2 * var(--space--unit)); /* 8px */
  --space--super-xxs: calc(var(--space--unit)); /* 4px */

  --ui-grid-col-2: repeat(2, 1fr);
  --ui-grid-col-3: repeat(3, 1fr);

  --ui-transition-func: cubic-bezier(0.5, 1, 0.89, 1);
}

@media (max-width: 1024px) {
  :root {
    --ui-grid-col-2: repeat(1, 1fr);
    --ui-grid-col-3: repeat(2, 1fr);

    --font-size-hero: calc(2.125 * var(--font-size-main)); /* 34px */
    --font-size-xxl: calc(1.75 * var(--font-size-main)); /* 28px */
    --font-size-xl: calc(1.5 * var(--font-size-main)); /* 24px */
    --font-size-l: calc(1.125 * var(--font-size-main)); /* 18px */
  }
}

@media (max-width: 640px) {
  :root {
    --space-super--4xl: calc(18 * var(--space--unit)); /* 72px */
    --space-super--xxxl: calc(14 * var(--space--unit)); /* 56px */
    --ui-wrapper-width: calc(100% - 40px);
  }
}
